@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: black;
  --foreground: #ffffff;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 65px;

}

h1{
  background-color: #A29875;
  text-decoration: underline;
  border: 3px double black;
  color: black;
}

h2{
  padding-top: 170px;
}